<div class=block-art>
  {{>atoms-img-article}} {{>atoms-img-article}} {{>atoms-img-article}} {{>atoms-img-article}} {{>atoms-img-article}} {{>atoms-img-article}} {{>atoms-img-article}} {{>atoms-img-article}}
</div>