<div class="c-compo-menu">
  <div>{{>molecules-menuvertical}}</div>
  <div class="c-compo-searchblock">
    <div class="itemmenu">{{>molecules-search}}</div>
    <div class="itemmenu">{{>molecules-menublock}}</div>
  </div>
</div>